ClientUI/Connected Services/MyServiceRef/ClientService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="ClientService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54168/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54168/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54168/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClientManagementServiceRTT.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClientService_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAddress_InputMessage">
    <wsdl:part name="parameters" element="tns:AddAddress" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddAddress_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddAddressResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddContact_InputMessage">
    <wsdl:part name="parameters" element="tns:AddContact" />
  </wsdl:message>
  <wsdl:message name="IClientService_AddContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddContactResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClient" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClients" />
  </wsdl:message>
  <wsdl:message name="IClientService_GetAllClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllClientsResponse" />
  </wsdl:message>
  <wsdl:portType name="IClientService">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddClient" message="tns:IClientService_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddClientResponse" message="tns:IClientService_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddAddress" message="tns:IClientService_AddAddress_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddAddressResponse" message="tns:IClientService_AddAddress_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/AddContact" message="tns:IClientService_AddContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/AddContactResponse" message="tns:IClientService_AddContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetClient" message="tns:IClientService_GetClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetClientResponse" message="tns:IClientService_GetClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClientService/GetAllClients" message="tns:IClientService_GetAllClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClientService/GetAllClientsResponse" message="tns:IClientService_GetAllClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClientService" type="tns:IClientService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddAddress">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddContact">
      <soap:operation soapAction="http://tempuri.org/IClientService/AddContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClient">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllClients">
      <soap:operation soapAction="http://tempuri.org/IClientService/GetAllClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientService">
    <wsdl:port name="BasicHttpBinding_IClientService" binding="tns:BasicHttpBinding_IClientService">
      <soap:address location="http://localhost:54168/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>